{% extends 'catalog/base.html' %}

{% block content %}
    <div>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text">
            <h3 class="display-4">Store</h3>
            <p class="lead">Country: Russia</p>
            <p class="lead">City: Saint Petersburg</p>
            <p class="lead">Address: Gostiny Dvor</p>
            <p class="lead">Phone: +7 999 999 99 99</p>
        </div>
    </div>

    <div>
    <div class="col-5">
        <h3 class="card-title">Feedback</h3>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div class="mb-3">
                <input type="email" name="email" class="form-control" id="exampleInputPassword1"
                       placeholder="e-mail">
            </div>
            <div class="mb-3">
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1"
                  placeholder="Message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary form-control">Send</button>
        </form>
    </div>
{% endblock %}
